@use "reset";

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&display=swap');


$color-pink: #fa6879;
$color-yellow: #f7c37c;
$color-blue: #3f7db4;
$color-rightpink: #fed4d4;
$color-white: #fff;
$color-txt: #3a3a3a;
$color-shadow: #e2e2e2;

$font-en: 'Frank Ruhl Libre', serif;
$font-ja: sans-serif;

@mixin tb {
  @media (max-width: 767px) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

header {
  position: relative;
  width: 100%;
  aspect-ratio: 13 / 8;
  margin: 0 auto 250px;
  @include tb {
    margin: 0 auto 50px;
  }
  h1 {
    position: absolute;
    top: 3%;
    left: 5%;
    font-size: 70px;
    font-family: $font-en;
    color: $color-txt;
    -webkit-text-stroke: 1px $color-shadow;
    @include tb {
      font-size: 30px;
    }
  }
  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    .left {
      width: 61%;
      aspect-ratio: 1 / 1;
      background: url(../img/rose.webp) no-repeat 0 60%/cover;
    }
    .right-top {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 39%;
      aspect-ratio: 1 / 1;
      background-color: $color-pink;
    }
    .right-bottom {
      width: 22%;
      aspect-ratio: 1 / 1;
      background-color: $color-yellow;
    }
    .center-bottom {
      width: 17%;
      aspect-ratio: 1 / 1;
      background-color: $color-blue;
    }
  }
  #ham-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
    display: block;
    width: 70px;
    height: 70px;
    background-color: $color-blue;
    color: $color-white;
    transition: .2s;
    &::before {
      position: absolute;
      bottom: 29px;
      left: 12px;
      display: block;
      content: "";
      width: 47px;
      height: 2px;
      background-color: $color-white;
      transition: .2s;
    }
    &::after {
      transition: .2s;
      position: absolute;
      top: 20px;
      left: 12px;
      display: block;
      content: "";
      width: 47px;
      height: 2px;
      background-color: $color-white;
    }
    span {
      position: absolute;
      left: 9px;
      bottom: 0;
      z-index: 8;
      display: block;
      font-size: 20px;
      color: $color-white;
      transition: .2s;
    }
    &.is-active {
      &::before {
        transform: rotate(-45deg);
        top: 25px;
        left: 10px;
      }
      &::after {
        transform: rotate(45deg);
        top: 25px;
        left: 10px;
      }
    }
  }
  #g-nav {
    position: fixed;
    top: 20px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    display: none;
    width: 70%;
    height: 450px;
    background-color: #ff9494e6;
    &.show {
      display: block;
    }
    ul {
      text-align: center;
      li {
        margin: 20px 0;
        padding-top: 30px;
        a {
          font-size: 24px;
          font-family: $font-en;
          color: $color-txt;
        }
      }
    }
  }
}


main {
  max-width: 1080px;
  margin: 0 auto 250px;
  padding: 0 10px;
  h2 {
    width: 100%;
    margin-bottom: 200px;
    padding: 100px;
    font-size: 60px;
    font-family: $font-en;
    text-align: right;
    border-top: 10px dotted $color-yellow;
    border-bottom: 10px dotted $color-yellow;
    @include tb {
      font-size: 32px;
      text-align: center;
    }
  }
  .works-wrapper {
    margin-bottom: 350px;
    @include tb {
      width: 100%;
    }
    .site-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 200px;
      gap: 10px 50px;
      overflow: hidden;
      @include tb {
        display: block;
      }
      .work {
        width: calc((100% - 100px) / 3);
        height: 230px;
        @include tb {
          width: 100%;
        }
        .modal-open {
          width: 100%;
          height: 100%;
          transition: .5s;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    /* モーダル */
    .modal-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 2;
      background: #2222229f;
      .modal-container {
        width: 80%;
        height: 80vh;
        padding: 30px;
        background-color: $color-white;
        overflow: auto;
        .modal-header {
          width: 100%;
          margin-bottom: 100px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          h4 {
            width: 100%;
            padding: 20px;
            margin-right: 60px;
            font-size: 30px;
            font-family: $font-en;
            text-align: center;
          }
          .modal-close {
            position: fixed;
            top: 30px;
            right: 30px;
            width: 70px;
            height: 70px;
            background-color: $color-rightpink;
            border-radius: 50%;
            border: 0;
            @include tb {
              width: 45px;
              height: 45px;
            }
          }
          .video-wrapper {
            position: relative;
            top: 0;
            left: 0;
            z-index: -1;
            width: 80%;
            aspect-ratio: 4 / 3;
            margin: 0 auto;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
          .modal-img-wrapper {
            display: flex;
            width: 100%;
            gap: 20px;
            .modal-image {
              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
              &:nth-of-type(1) {
                width: 70%;
              }
              &:nth-of-type(2) {
                width: 30%;
              }
            }
          }
        }
        .modal-header .modal-close::before {
          content: "\2715";
        }
        .modal-content {
          margin-bottom: 50px;
          line-height: 2;
          .modal-text {
            width: 100%;
            dl {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              @include tb {
                display: block;
              }
              dt {
                width: 30%;
                padding: 0 20px;
                margin: 10px 20px 0 0;
                border-bottom: 1px solid $color-yellow;
                @include tb {
                  width: 100%;
                  padding: 0;
                  border-bottom: none;
                }
              }
              dd {
                width: 65%;
                margin-top: 10px;
                border-bottom: 1px solid $color-yellow;
                &.long {
                  font-size: 14px;
                }
                @include tb {
                  width: 100%;
                  margin-bottom: 60px;
                }
                ul {
                  padding-left: 20px;
                  li {
                    list-style: circle;
                  }
                }
              }
            }
          }
          button {
            display: block;
            width: 240px;
            margin: 30px auto;
            a {
              display: block;
              height: 50px;
              color: $color-white;
              text-align: center;
              line-height: 50px;
              background-color: $color-pink;
              transition: .2s;
              &:hover {
                background-color: $color-yellow;
              } 
            }
          }
        }
      }
    }
    /* モーダルアニメーション */
    @keyframes mmfadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    @keyframes mmfadeOut {
      0% { opacity: 1; }
      100% { opacity: 0; }
    }
    @keyframes mmslideIn {
      0% { transform: translateY(15%); }
      100% { transform: translateY(0); }
    }
    @keyframes mmslideOut {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10%); }
    }
    .micromodal-slide {
      display: none;
      &.is-open {
        display: block;
      }
    }
    .micromodal-slide[aria-hidden="false"] {
      .modal-overlay {
        animation: mmfadeIn .3s cubic-bezier(.0, .0, .2, 1);
      }
      .modal-container {
        animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
      }
    }
    .micromodal-slide[aria-hidden="true"] {
      .modal-overlay {
        animation: mmfadeOut .3s cubic-bezier(.0, .0, .2, 1);
      }
      .modal-container {
      animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
      }
    }
    .micromodal-slide .modal-container,
    .micromodal-slide .modal-overlay {
      will-change: transform;
    }
    .banner-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 200px;
      @include tb {
        display: block;
      }
      .card {
        position: relative;
        width: calc((100% - 100px) / 3);
        aspect-ratio: 32 / 27;
        margin-bottom: 30px;
        transform-style: preserve-3d;
        perspective: 1000px;
        @include tb {
          width: 100%;
        }
        .box {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin-bottom: 50px;
          transform-style: preserve-3d;
          perspective: 1000px;
          transition: 1s ease;
          .front {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img{
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
        &:hover>.box {
          transform: rotateY(180deg);
        }
        .front {
          backface-visibility: hidden;
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          aspect-ratio: 32 / 27;
          background: $color-rightpink;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transform: rotateY(180deg);
          dl {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            height: 90%;
            margin: 0 auto;
            dt {
              width: 30%;
              margin-bottom: 20px;
            }
            dd {
              width: 70%;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    .codepen-wrapper {
      @include tb {
        width: 100%;
      }
      .code-box {
        margin-bottom: 100px;
      }
    }
  }

  .skill-wrapper#skill {
    margin: 0 auto 350px;
    @include tb {
      width: 100%;
    }
    .skill-inner {
      display: none;
      transition: 1s;
      &.show {
        display: block;
      }
      ul {
        position: relative;
        li {
          transition: .5s ease-in;
          margin-bottom: 70px;
          .border {
            display: flex;
            justify-content: center;
            align-items: center;
            @include tb {
              display: block;
              margin-top: 20px;
            }
            .html,
            .css,
            .sass,
            .js,
            .jq,
            .react,
            .php,
            .laravel,
            .illust {
              position: relative;
              width: 45%;
              height: 10px;
              margin-right: 50px;
              background: $color-shadow;
              border-radius: 5px;
              @include tb {
                width: 80%;
                margin: 0 auto 30px;
              }
              div {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 10px; 
                background: $color-pink;
              }
            }
            p {
              width: 45%;
              padding: 20px;
              line-height: 2;
              border: $color-pink solid 1px;
              border-radius: 10px;
              @include tb {
                width: 80%;
                margin: 0 auto 50px;
              }
            }
          }
          .html>div {
            animation: html 1.7s both;
          }
          .css>div {
            animation: css 1.7s both;
          }
          .sass>div {
            animation: sass 1.7s both;
          }
          .js>div {
            animation: js 1.7s both;
          }
          .jq>div {
            animation: jq 1.7s both;
          }
          .react>div {
            animation: react 1.7s both;
          }
          .php>div {
            animation: php 1.7s both;
          }
          .laravel>div {
            animation: laravel 1.7s both;
          }
          .illust>div {
            animation: illust 1.7s both;
          }
          @keyframes html {
            0% { width: 0%; }
            100% { width: 80%; }
          }
          @keyframes css {
            0% { width: 0%; }
            100% { width: 80%; }
          }
          @keyframes sass {
            0% { width: 0%; }
            100% { width: 70%; }
          }
          @keyframes js {
            0% { width: 0%; }
            100% { width: 60%; }
          }
          @keyframes jq {
            0% { width: 0%; }
            100% { width: 70%; }
          }
          @keyframes react {
            0% { width: 0%; }
            100% { width: 30%; }
          }
          @keyframes php {
            0% { width: 0%; }
            100% { width: 25%; }
          }
          @keyframes laravel {
            0% { width: 0%; }
            100% { width: 50%; }
          }
          @keyframes illust {
            0% { width: 0%; }
            100% { width: 60%; }
          }
        }
      }
    }
  }
  .my-wrapper {
    margin: 0 auto 350px;
    overflow: hidden;
    @include tb {
      width: 90%;
    }
    .book {
      position: relative;
      width: 250px;
      height: 450px;
      margin-left: 50%;
      box-shadow: 0 0 4px $color-shadow;
      text-align: center;
      @include tb {
        width: 50%;
        height: auto;
        margin-right: 50px;
      }
      .page {
        width: 100%;
        height: 100%;
        color: $color-white;
        perspective: 1500px;
        .page-1 {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          padding-top: 50px;
          overflow: hidden;
          opacity: 1;
          font-size: 20px;
          color: $color-white;
          background-color: $color-pink;
          transition: all 1s .3s ;
          transform-origin: 0 50%;
          &::after {
            content: "Yoko.O";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            padding-top: 34px;
            opacity: 0;
            color: $color-txt;
            font-size: 20px;
            background: $color-white url(../img/photo.webp) no-repeat 1px 60%/contain;
            border: 1px solid $color-shadow;
            transform: rotateY(180deg);
            transition: all .3s .5s;
          }
          &:hover,
          &:active {
            box-shadow: 0 0 4px $color-shadow;
            transform: rotateY(-180deg);
            &::after {
              opacity: 1;
            }
          }
        }
        .page-2 {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding-top: 1.5rem;
          opacity: 1;
          color: $color-txt;
          background-color: $color-white;
          border: 1px solid $color-shadow;
          p {
            margin-bottom: 60px;
            padding: 10px;
            font-size: 16px;
            text-align: left;
            line-height: 2;
          }
          button {
            width: 200px;
            background-color: $color-pink;
            @include tb {
              width: 90%;
              margin-bottom: 10px;
            }
            a {
              display: block;
              padding: 10px 0;
              font-size: 16px;
              color: $color-white;
            }
          }
        }
      }
    }
  }
  .timeline-wrapper#timeline {
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    .timeline {
      position: relative;
      width: 100%;
      margin: 30px auto;
      padding: 0 10px;
      transition: all 0.4s ease;
      @include tb {
        width: 90%;
        margin: 30px;
        padding: 0px;
      }
      &::before {
        content: "";
        width: 3px;
        height: 100%;
        background: $color-yellow;
        left: 50%;
        top: 0;
        position: absolute;
        @include tb {
          left: 0;
        }
      }
      &::after {
        content: "";
        clear: both;
        display: table;
        width: 100%;
      }
      .timeline-item {
        position: relative;
        margin-bottom: 50px;
        transition: 1s;
        transform: translateX(-100%);
        &.right {
          transform: translateX(100%);
        }
        &.show {
          transform: translateX(0);
        }
        &::after,
        &::before {
          content: '';
          display: block;
          width: 100%;
          clear: both;
        }
        .timeline-icon {
          position: absolute;
          top: 0;
          left: 50%;
          overflow: hidden;
          width: 50px;
          height: 50px;
          margin-left: -23px;
          border-radius: 50%;
          background: $color-yellow url(../img/pc-icon.svg) no-repeat center center;
          background-size: 32px;
          @include tb {
            left: 0;
          }
        }
        .timeline-content {
          width: 45%;
          background: #fff;
          padding: 20px;
          box-shadow: 0 3px 0 $color-shadow;
          border-radius: 5px;
          transition: all 0.3s ease;
          @include tb {
            width: 90%;
            float: right;
          }
          h3 {
            padding: 15px;
            background: $color-yellow;
            color: $color-txt;
            margin: -20px -20px 0 -20px;
            font-weight: 300;
            border-radius: 3px 3px 0 0;
          }
          p {
            line-height: 2;
            padding-top: 20px;
          }
          &::before {
            content: '';
            position: absolute;
            left: 45%;
            top: 20px;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid $color-yellow;
            @include tb {
              left: 10%;
              margin-left: -6px;
              border-left: 0;
              border-right: 7px solid $color-yellow;
            }
          }
          &.right {
            float: right;
            @include tb {
              left: 10%;
              margin-left: -6px;
              border-left: 0;
            }
            &::before {
              content: '';
              right: 45%;
              left: inherit;
              border-left: 0;
              border-right: 7px solid $color-yellow;
            }
          }
        }
      }
    }
  }
}

#to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 50px;
  height: 50px;
  transform: translateY(100px);
  transition: .3s;
}

#to-top.show {
  transition: .3s;
  transform: translateY(0);
}

footer {
  width: 100%;
  padding: 50px;
  color: $color-white;
  text-align: center;
  background-color: $color-blue;
}
